<template name="listaProfesores">

    <ul class="list hidden no-padding">

        {{#each profesores}}
            <li class="item">
                <div class="card-panel beig " style="margin-top: 0px; margin-bottom: 0px;">
                    <a href="{{pathFor 'fichaProfesor'}}">
                        <div class="row no-margin">
                            <div class="col s4 m2 l2 no-pad-top no-pad-bot" >
                                <div style=" margin-top: 0px; background-image: url('{{profile.foto}}');" class="circular avatar center "></div></div>
                            <div class="col s7 m9 l9 no-pad-top no-pad-bot">
                                <p style="color: #fff;">
                                <h6>{{profile.nombre}} {{profile.apellido}}</h6>
                                <br/>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i> {{emails.[0].address}}
                                </p>
                            </div>
                            <div class="col s1 m1 l1 enter-icon">
                                <div>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        {{/each}}
</ul>


    <div class="fixed-action-btn ">
        <a href="{{pathFor 'nuevoProfesor'}}" class="btn-floating btn-large blue-grey darken-3">
            <i class="fa fa-plus"></i>
        </a>
    </div>

</template>