<template name="dashboard">

    <div class="row text-white">
    {{#if isInRole 'admin' }}
        <div class="col no-padding s6 m3">
            <div id="alumnos" class="card beig">
                <div class="card-content white-text">
                    <span class="card-title">Alumnos</span>

                    <div class="row">

                            <h3>{{numeroAlumnos}} <i class="fa fa-user" aria-hidden="true"></i></h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col no-padding s6 m3">
            <div id="profesores" class="card beig">
                <div class="card-content white-text">
                    <span class="card-title">Profesores</span>

                    <div class="row">
                            <h3>{{numeroProfesores}} <i class="fa fa-user" aria-hidden="true"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col no-padding s6 m3">
            <div id="reservas" class="card beig">
                <div class="card-content white-text">
                    <span class="card-title">Reservas</span>

                    <div class="row">
                            <h3>{{numeroReservas}} <i class="fa fa-user" aria-hidden="true"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col no-padding s6 m3">
            <div id="empresas" class="card beig">
                <div class="card-content white-text">
                    <span class="card-title">Empresas</span>

                    <div class="row">
                        <h3>{{numeroEmpresas}} <i class="fa fa-user" aria-hidden="true"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
        {{#if isInRole 'alumno' or isInRole 'profesor'}}



            <div class="col s12 no-padding" style="padding-top: 10px;">
                <div class="row board-profile " style="height: 200px">
                    <center><div style="background-image: url('{{currentUser.profile.foto}}');" class="circular board avatar responsive-img"></div>
                        <h4>{{currentUser.profile.nombre}} {{currentUser.profile.apellido}}</h4>
                    </center>
                </div>
                <div class="row  profile-content1">
                    <ul>
                        <li>
                            <div class="digits">{{numeroReservas}}</div>
                            Reservas
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                {{#if isInRole 'profesor'}}
                    <div class="row">

                        <div class="col s12 center">
                            <div class="col s6 " style="display: inline-block; color: white;" >Buscando Trabajo</div>
                            <div class="col s6 " style="display: inline-block;">
                                <div class="circle lineBeig-small {{colorTrabajo}}" style=" margin: 0px auto; height: 20px; width: 20px;">&nbsp;</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col s12 center">
                            <div class="col s6" style="color: white;" >Horas Extras</div>
                            <div class="col s6">
                                <div class="circle lineBeig-small {{colorExtra}}" style=" margin: 0px auto; height: 20px; width: 20px;">&nbsp;</div>
                            </div>
                        </div>

                    </div>
                {{/if}}

            </div>
        {{/if}}
    </div>

</template>