<template name="dashboard">

    <div class="row">
        <div class="col no-padding s12 m4">
            <div id="alumnos" class="card beig">
                <div class="card-content white-text">
                    <span class="card-title">Alumnos</span>

                    <div class="row">

                            <h3>{{numeroAlumnos}} <i class="fa fa-user" aria-hidden="true"></i></h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col no-padding s12 m4">
            <div id="profesores" class="card beig">
                <div class="card-content white-text">
                    <span class="card-title">Profesores</span>

                    <div class="row">
                            <h3>{{numeroProfesores}} <i class="fa fa-user" aria-hidden="true"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col no-padding s12 m4">
            <div id="reservas" class="card beig">
                <div class="card-content white-text">
                    <span class="card-title">Reservas</span>

                    <div class="row">
                            <h3>30 <i class="fa fa-user" aria-hidden="true"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>