<template name="portada">

    <div id="tabs" class="c-tabs">
        <div class="top-nav blue-grey darken-3">
            <div class="container">
                <div class="nav-wrapper">
                    <center><img src="/img/logo.png" width="150px" style="margin-top: 10px;" ></center>
               </div>

            </div>
        </div>
        <div class="c-tabs-nav">
            <a href="#" class="c-tabs-nav__link is-active"><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
            <a href="#" class="c-tabs-nav__link"><i class="fa fa-2x fa-building" aria-hidden="true"></i></a>
            <a href="#" class="c-tabs-nav__link"><i class="fa fa-2x fa-map" aria-hidden="true"></i></a>
            <div class="c-tab-nav-marker"></div>
        </div>


        <div class="c-tab is-active">
            <div class="c-tab__content">
                <h2>Home</h2>
                <p>lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set doet dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet</p>
            </div>
        </div>

        <div class="c-tab">
            <div class="c-tab__content">
                <h2>About us</h2>
                <p>lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor ametlorem ipsum set dolor ametlorem ipsum set dolor</p>
            </div>
        </div>

        <div class="c-tab">
            <div class="c-tab__content">
                <h2>Contact</h2>
                <p>lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor ametlorem ipsum set dolor ametlorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet lorem ipsum set dolor amet</p>
            </div>
        </div>

    </div>

</template>