<template name="listaAlumnos">

    <div class="row">
        <div class="col s12 blue-grey darken-2">
            <ul class="tabs blue-grey darken-2">
                <li class="tab col s3">
                    <a class="white-text active" href="#test1">Tab 1</a>
                </li>
                <li class="tab col s3">
                    <a class="white-text" href="#test2">Tab 2</a>
                </li>
                <li class="tab col s3">
                    <a class="white-text" href="#test3">Tab 3</a>
                </li>
            </ul>
        </div>
        <div id="test1" class="col s12">Tab 1</div>
        <div id="test2" class="col s12">Tab 2</div>
        <div id="test3" class="col s12">Tab 3</div>
    </div>

    <div class="container">
        <div class="row">
            <ul class="collection">

                {{#each alumnos}}

                    <li class="collection-item avatar">
                        <img src="{{profile.foto}}" alt="" class="circle">
                        <span class="title">Usuario: {{username}}</span>
                        <p>
                            Nombre: {{profile.nombre}}
                            <br>
                            Apellido: {{profile.apellido}}
                            <br>
                            Email: {{emails.[0].address}}
                        </p>
                        <a href="{{pathFor 'fichaAlumno'}}" class="secondary-content">
                            <i class="material-icons blue-grey-text text-darken-3">
                                mode_edit
                            </i>
                        </a>
                    </li>

                {{/each}}

            </ul>

        </div>
    </div>

    <div class="fixed-action-btn ">
        <a href="{{pathFor 'nuevoAlumno'}}" class="btn-floating btn-large blue-grey darken-3">
            <i class="material-icons">add</i>
        </a>
    </div>

</template>