<template name="listaAlumnos">

    <div class="container">
        <div class="row">
            <ul class="collection">

                {{#each alumnos}}

                    <li class="collection-item avatar">
                        <img src="{{profile.foto}}" alt="" class="circle">
                        <span class="title">Usuario: {{username}}</span>
                        <p>
                            Nombre: {{profile.nombre}}
                            <br>
                            Apellido: {{profile.apellido}}
                            <br>
                            Email: {{emails.[0].address}}
                        </p>
                        <a href="{{pathFor 'fichaAlumno'}}" class="secondary-content">
                            <i style="font-size: 22px;" class="blue-grey-text text-darken-3 fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </li>

                {{/each}}

            </ul>

        </div>
    </div>

    <div class="fixed-action-btn ">
        <a href="{{pathFor 'nuevoAlumno'}}" class="btn-floating btn-large blue-grey darken-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>

</template>