/* CSS declarations go here */


/**********************************/
/************ General ************/
/********************************/

body, html{
    height: 100%;
}

a.button-collapse.top-nav {
    left: 0 !important;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
}

header, main, footer {
    padding-left: 250px;
}
a{
    text-decoration:none !important;
}
span i{
    color:white !important;
}
h4{
    margin: 0px;
}

h6{
    margin: 0px;
}

/**********************************/
/************ Nav ****************/
/********************************/

a.button-collapse.top-nav.full {
    line-height: 80px !important;
}


#logo-container {
    height: auto;
}

.side-nav {
    position:fixed;
    width:300px;
    left:0;
    top:0;
    margin:0;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    height:100%;
    height:calc(100% + 60px);
    height:-moz-calc(100%);
    padding-bottom:60px;
    background-color:#fff;
    z-index:999;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    overflow-y:auto;
    will-change:transform;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform:translateX(-105%);
    transform:translateX(-105%)
}
.side-nav.right-aligned {
    right:0;
    -webkit-transform:translateX(105%);
    transform:translateX(105%);
    left:auto;
    -webkit-transform:translateX(100%);
    transform:translateX(100%)
}
.side-nav .collapsible {
    margin:0
}
.side-nav li {
    float:none;
    line-height:48px
}
.side-nav li.active {
    background-color:rgba(0, 0, 0, 0.05)
}
.side-nav a {
    color:rgba(0, 0, 0, 0.87);
    display:block;
    font-size:14px;
    font-weight:500;
    height:48px;
    line-height:48px;
    padding:0 32px
}
.side-nav a:hover {
    background-color:rgba(0, 0, 0, 0.05)
}
.side-nav a.btn, .side-nav a.btn-large, .side-nav a.btn-large, .side-nav a.btn-flat, .side-nav a.btn-floating {
    margin:10px 15px
}
.side-nav a.btn, .side-nav a.btn-large, .side-nav a.btn-large, .side-nav a.btn-floating {
    color:#fff
}
.side-nav a.btn-flat {
    color:#343434
}
.side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover {
    background-color:#2bbbad
}
.side-nav a.btn-floating:hover {
    background-color:#26a69a
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    float:left;
    line-height:48px;
    margin:0 32px 0 0;
    width:24px;
    color:rgba(0, 0, 0, 0.54)
}
.side-nav .divider {
    margin:8px 0 0 0
}
.side-nav .subheader {
    cursor:initial;
    pointer-events:none;
    color:rgba(0, 0, 0, 0.54);
    font-size:14px;
    font-weight:500;
    line-height:48px
}
.side-nav .subheader:hover {
    background-color:transparent
}
.side-nav .userView {
    overflow:hidden;
    position:relative;
    padding:32px 32px 0;
    margin-bottom:8px
}
.side-nav .userView a {
    height:auto;
    padding:0
}
.side-nav .userView a:hover {
    background-color:transparent
}
.side-nav .userView .background {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1
}
.side-nav .userView .circle, .side-nav .userView .name, .side-nav .userView .email {
    display:block
}
.side-nav .userView .circle {
    height:64px;
    width:64px
}
.side-nav .userView .name, .side-nav .userView .email {
    font-weight:14px;
    line-height:24px
}
.side-nav .userView .name {
    margin-top:16px;
    font-weight:500
}
.side-nav .userView .email {
    padding-bottom:16px;
    font-weight:400
}
.drag-target {
    height:100%;
    width:10px;
    position:fixed;
    top:0;
    z-index:998
}
.side-nav.fixed a {
    display:block;
    padding:0 16px;
    color:rgba(0, 0, 0, 0.87)
}
.side-nav.fixed {
    left:0;
    -webkit-transform:translateX(0);
    transform:translateX(0);
    position:fixed;
    z-index: 9999999;
    width: 250px;
}
.side-nav.fixed.right-aligned {
    right:0;
    left:auto
}
@media only screen and (max-width: 992px) {
    .side-nav.fixed {
        -webkit-transform:translateX(-105%);
        transform:translateX(-105%)
    }
    .side-nav.fixed.right-aligned {
        -webkit-transform:translateX(105%);
        transform:translateX(105%)
    }
    .side-nav a {
        padding:0 16px
    }
    .side-nav .userView {
        padding:16px 16px 0
    }
}
.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
    background-color:#ee6e73
}
.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
    color:#fff
}
#sidenav-overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:120vh;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:997;
    will-change:opacity
}

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

nav.top-nav a.page-title {
    line-height: 87px;
}

a.button-collapse.top-nav.full {
    line-height: 95px;
    position: fixed;
    z-index: 9999;
}

main{
    padding-top: 80px;
}

nav.top-nav {
    position: fixed;
    height: 80px;
    box-shadow: none;
    z-index: 999;
}
a.button-collapse.top-nav i {
    font-size: 32px;
}

/**********************************/
/************ Input **************/
/********************************/

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

/* label focus color */
.input-field input[type=password]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

/* label focus color */
.input-field input[type=email]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}


/**********************************/
/************ Tabs ***************/
/********************************/

.tabs .indicator {
    height: 4px;
    background-color: #9db0c9 !important;
}

/**********************************/
/************ Profile ************/
/********************************/


.card {
     margin: 0;
     border-radius: 0;
}

.no-padding{
    padding: 0 !important;
}
.beig {
    background-color: #d1b687;
}
.circular {
    width: 80px;
    height: 80px;
    background-size:cover;
    background-position: center;
    border-radius: 40px;
    border: 3px solid #e7e0cf;
    webkit-border-radius: 40px;
   -moz-border-radius: 40px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 1);*/
}

.circular2 {
    width: 150px;
    height: 150px;
    background-size:cover;
    background-position: center;
    border-radius: 75px;
    border: 3px solid #e7e0cf;
    webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 1);*/
}
.circular3{
    width: 50px;
    height: 50px;
    background-size:cover;
    background-position: center;
    border-radius: 25px;
    border: 3px solid #e7e0cf;
    webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 1);*/
}
.lineBeig-small{
    border: 0.5px solid #e7e0cf;
}

section.profile::after {
    display: block;
    position: absolute;
    top: 100%;
    left: 3%;
    z-index: -1;
    width: 94%;
    height: 1px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    content: '';
}

.profile-header {
    height: 140px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    background: #e8decd;
}
.profile-header img {
    -o-object-fit: cover;
    object-fit: cover;
}

.profile-content {

    border-radius: 0 0 5px 5px;
    color: #e7e0cf;
    text-align: center;

}
.profile-content img {

    width: 150px;
    height: 150px;
    border: 5px solid #e7e0cf;
    border-radius: 100%;
    background: #e7e0cf;
}
.profile-content h1 {
    margin: 25px 0 0;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 0.05em;
}
.profile-content p {
    margin: 5px 0 0;
    color: #b49e6b;
    font-size: 0.8125em;
    font-weight: 200;
}

.avatar{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 150% !important;
}
.blue-grey.darken-3 {

    background-color: #053951 !important;

}
#nav-mobile a{
    color:white;
}
body{
    background-color: #414B4F;
}
.text-white{
    color:white;
}
.input-field input[type=text]:focus + label {
    color: white;

}
.input-field input[type=number]:focus + label {
    color: white;

}
textarea:focus + label {
    color: white !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
.input-field input[type=number]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
textarea:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.card-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

h3{
    padding: 5px;
    margin: 0px;;
}

/**********************************/
/************ Selects ************/
/********************************/

/* ------------- select --------- */
/* -------------------- Page Styles (not required) */
/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}
.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}
.styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}
.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}
/* -------------------- Rounded Corners */
.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* -------------------- Colors: Background */
.slate {
    background-color: #2BBBAD;
}
.green {
    background-color: #779126;
}
.blue {
    background-color: #3b8ec2;
}
.yellow {
    background-color: #eec111;
}
.black {
    background-color: #000;
}
/* -------------------- Colors: Text */
.slate select {
    color: #000;
}
.green select {
    color: #fff;
}
.blue select {
    color: #fff;
}
.yellow select {
    color: #000;
}
.black select {
    color: #fff;
}
/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
}
#mainselection {
    overflow: hidden;
    width: 350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select.soflow{
    display: block;
    color:white;
    background-color: #053951;
    border: 1px solid #053951;
}
select:focus {
    outline: none;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 2em;
    padding: 0px 2px 1px;
}
select:not(:-internal-list-box) {
    margin-left: 10px;
}
.btn, .btn-large {

    background-color: #d1b687;
}
.btn:hover, .btn-large:hover {
    background-color: #d1b687;
}
.cercle-notific {
    height: 20px;
    width: 20px;
    font-weight: bold;
    position: absolute;
    margin-top: 7px;
    margin-left: 15px;
    text-align: center;


}
.cercle-notific p{
    position: absolute;
    top: -27px;
    left: 6px;
    font-size: 12px;
}
textarea.materialize-textarea{
    border-top: 1px solid #9e9e9e;
}
.picker__date-display{
    background-color: #053951;
}
.picker__weekday-display {
    background-color: #053951;
}
.picker__day.picker__day--today,.picker__close,.picker__today{
    color: #d1b687;
}
.lab-top{
    color: #9e9e9e;
    position: absolute !important;
    top: -25px !important;
    font-size: 0.8rem !important;

}
.avatar_container {
    display: inline-block;
    width: 35%;
    max-width: 300px;
    overflow: hidden;
}


.dropdown-content li > span {
    color: #053951 !important;
    font-size: 12px !important;
 }
p,i{
    color: white!important;
}
.ejercicios{
    font-size:18px;
}
.tap-a{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}
video {
    width: 250px;
    height: 250px;

}
.viewfinder{
    height:290px !important;
}
.camera-popup .photo-preview {
    width: 250px !important;
}

.blue-grey.darken-2 {
    background-color: #414b4f !important;
}
.title-tab{
    position: relative;
    z-index: 1;
}
.item-res ul{
    background: transparent!important;
}
.item-res li{
    padding: 0px;
    margin: 0px;
    background: transparent!important;
}
.item-res{
    height: 165px;
    vertical-align: middle;
    /* font-size: 18px; */
    box-sizing: border-box;
    width: 100%;
    /* height: 70px; */
    cursor: pointer;
    border-top: none;
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
    background-color: #f2d19d;
}


/**********************************/
/************ Helpers ************/
/********************************/

.x1{
    font-size: 1.4em;
}

.x2{
    font-size: 2em;
}

.x3{
    font-size: 2.5em;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-width-button{
    width: 100%;
}

.no-margin{
    margin: 0;
}

.enter-icon{
    margin-top: 35px;

}
.enter-icon i{
    font-size: 2em;

}
.full-height{
    height: 100%;
}
.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.item{
    height: auto;
}

.eliminar-button{
    background-color: #ff5b49;
}
.text-center{
    text-align: center;
}

.curso-title{
    padding: 10px;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}
/**********************************/
/************ Loading ************/
/********************************/

@-webkit-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 8px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

/************************************/
/************ MediaQ. **************/
/**********************************/

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height:64px;
        line-height:64px
    }
    .navbar-fixed {
        height:64px
    }
}


@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left:0
    }
}

@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align:center
    }
    nav .nav-wrapper a.page-title {
        font-size:22px
    }
}
@media screen and (min-width: 300px) and (max-width: 360px)
{
    div{
        font-size:12px;
        text-decoration: none;
    }
    .item{
        font-size:10px !important;
    }

    .span-title{
        font-size: 19px;
    }
    .circular-grande {
        width: 160px;
        height: 160px;
        background-size:cover;
        background-position: center;
        border-radius: 150px;
        border: 3px solid #e7e0cf;
        webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }

}
@media screen and (min-width: 361px) and (max-width: 790px)
{
    div{
        font-size:12px;
        text-decoration: none;
    }

    .item{
        font-size:12px !important;
    }
    .span-title{
        font-size:21px;
    }
    .circular-grande {
        width: 160px;
        height: 160px;
        background-size:cover;
        background-position: center;
        border-radius: 150px;
        border: 3px solid #e7e0cf;
        webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }
}
@media screen and (min-width: 790px) and (max-width: 1500px)
{
    div{
        font-size:12px;
        text-decoration: none;
    }
    .item{
        font-size:12px !important;
    }
    .span-title{
        font-size:35px;
    }

    .circular-grande {
        width: 260px;
        height: 260px;
        background-size:cover;
        background-position: center;
        border-radius: 150px;
        border: 3px solid #e7e0cf;
        webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }
}

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid white;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}
[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #053951;
    border-bottom: 2px solid #053951;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.item-ejercicio{

    height: 70px;
}