<template name="listaReservas">

    <div class="row">
        <div class="col s12 blue-grey darken-2">
            <ul class="tabs blue-grey darken-2">
                {{#if isInRole 'admin' or isInRole 'profesor'}}
                    <li class="tab col s6">
                        <a class="white-text active" href="#test1">Lista Reservas</a>
                    </li>
                {{/if}}
                {{#if isInRole 'alumno'}}
                    <li class="tab col s6">
                        <a class="white-text" href="#test2">Mis Reservas</a>
                    </li>
                 {{/if}}
            </ul>
        </div>
            {{#if isInRole 'admin' or isInRole 'profesor'}}


                <div id="test1" class="col s12 no-padding">

                    <ul class="list hidden no-padding">
                        {{#each reservas}}

                            {{>reserva}}

                        {{/each}}
                    </ul>

                </div>
            {{/if}}

            {{#if isInRole 'alumno'}}
                <div id="test2" class="col s12 no-padding">

                    {{#each misResevas}}

                        {{>reserva}}

                    {{/each}}

                 </div>
            {{/if}}

    </div>

    <div class="fixed-action-btn ">
        <a href="{{pathFor 'nuevaReserva'}}" class="btn-floating btn-large blue-grey darken-3">
            <i class="fa fa-plus"></i>
        </a>
    </div>

</template>