<template name="reserva">

    <div class="card-panel beig" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="row">
        <div class="col s5 m2 l2" >
            &nbsp;<img style=" vertical-align:middle; margin-top: 10px;" src="{{user.profile.foto}}" alt="" class="circular center img-thumbnail"></div>
        <div class="col s7 m10 l10">
            <p style="color: #fff;">
                <span style="font-size: 24px;">{{user.username}}</span>
                <br/>
                <br/>
                Fecha de Reserva: {{fecha}}
                <br/>
                Hora de {{horaIni}} a {{horaFin}}
                <br/>
                Barra: {{barra}}
            </p>
        </div>
    </div>

    </div>

</template>