<template name="reserva">

    <div class="card-panel beig" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="row" style="height: 100px; margin-top: -15px;">
        <div class="col s4 m2 l2 no-pad-top no-pad-bot" >
          <div style="margin-top: 15px;  background-image: url('{{user.profile.foto}}');" class="circular avatar center "></div></div>
        <div class="col s7 m9 l9 no-pad-top no-pad-bot">
            <p style="color: #fff;">
                <span style="font-size: 24px;">{{user.profile.nombre}} {{user.profile.apellido}}</span>
                <br/>
            <div class="row">
                <div class="col s6 m6 l6 no-padding"> Fecha de Reserva: {{fecha}}</div>
                <div class="col s6 m6 l6 no-padding"> Hora: <br/> {{horaIni}} a {{horaFin}}
                    <br/>
                    Barra: {{barra}}</div>

            </div>
            </p>
        </div>
            <div class="col s1 m1 l1"> <i id="removeReserva" style="font-size: 22px; padding-top: 10px;" class="white-text text-darken-3 fa fa-remove" aria-hidden="true"></i></div>
    </div>

    </div>

</template>