<template name="perfil">

    <div class="row">

        <div class="container">

            <br>

            {{#if isAdmin}}
                    <div class="col s12">
                        <center><img style="background-image: url('{{currentUser.profile.foto}}');" class=" circular avatar responsive-img"></center>
                    </div>
                    <div style="margin-top: 5px;" class="col s12">
                        <center><button id="tomar-foto" class="btn waves-effect waves-light blue-grey darken-3">Editar Foto</button></center>
                    </div>


            {{/if}}



            <form id="guardar-perfil" style="padding-top:40px;" class="col s12">

                <div class="row">
                    <div class="input-field col s6">
                        <input id="nombre" type="text" value="{{currentUser.profile.nombre}}" class="validate">
                        <label class="active" for="nombre">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="apellido" type="text" value="{{currentUser.profile.apellido}}" class="validate">
                        <label class="active" for="apellido">Apellido</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" value="{{currentUser.username}}" class="validate">
                        <label class="active" for="username">Usuario</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" value="{{currentUser.emails.[0].address}}" type="email" class="validate">
                        <label class="active" for="email">Email</label>
                    </div>
                </div>

                <br>

                <button class="blue-grey darken-3 btn waves-effect waves-light" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

</template>