<template name="curso">
    <div class="row">
        <div class="col s12 no-padding blue-grey darken-2">
            <ul class="tabs blue-grey darken-2">
                <li class="tab col s6"><a id="cursTab" class="active tap-a  white-text" href="#cursoTab"><div>Curso</div></a></li>

                {{#if isInRole 'admin'}}

                    <li class="tab col s6"><a id="excTab" class=" tap-a white-text" href="#ejerciciotab"><div>Ejecicios</div></a></li>

                {{/if}}
             </ul>
        </div>
        <div id="cursoTab" class="col s12 no-padding">
            <div class="row no-padding text-white beig" style="height: 100px">
            <h4 class="card-middle">{{nombre}}</h4>
            </div>
            <div class="row text-white">
                <div class="col s12 m6 l6">
                    <p>Profesores:</p>
                    {{#each listprofes}}

                        <div class="col s2" >
                            <div style=" margin-top: 0px; background-image: url('{{profile.foto}}');" class="circular3 avatar center "></div></div>
                        <div class="col s10">
                            <p>
                                <span style="font-size: 12px;">{{profile.nombre}} {{profile.apellido}}</span>
                            </p>
                        </div>

                    {{/each}}

                </div>
                <div class="col s12 m6 l6">

                    <br>
                    <p>Horas: {{horas}}</p>
                    <p>Descripción:</p>
                    <p style="text-align: justify;">{{desc}}</p>
                </div>




                {{#if isInRole 'admin'}}
                    <div class="row" >
                        <div class="col s12" style="border-bottom: 2px solid beige">
                            <h4>Alumnos Inscritos</h4>
                        </div>
                        <div class="col s12" style="text-decoration: none; margin-top: 20px">
                            {{#each listalumnos}}

                                <div class="row">
                                    <a href="{{pathFor 'evaluar' IdCurso=idCurso IdAlumno=_id}}">
                                        <div class="col s2" >
                                            <div style=" margin-top: 0px; background-image: url('{{profile.foto}}');" class="circular3 avatar center "></div>
                                        </div>
                                        <div class="col s9" style="text-decoration: none">
                                            <p>
                                                <span style="font-size: 12px;">&nbsp;&nbsp;{{profile.nombre}} {{profile.apellido}}</span>
                                            </p>

                                        </div>
                                    </a>
                                    <div class="col s1" style="text-decoration: none">
                                        <i  id="borrar-alumno" style="margin-top:10px;" class="fa fa-2x fa-remove secondary-content"></i>

                                    </div>



                                </div>

                            {{/each}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s7 m9">
                            <label>&nbsp;</label>
                            <select class="soflow" id="profes">
                                <option value="" disabled selected>Assignar Profesor</option>
                                {{#each profesores}}
                                    <option value="{{_id}}"> {{profile.nombre}} {{profile.apellido}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="input-field col s5 m3">

                            <a id="assignar-profesor" style="margin: 10px" href="#" class=" modal-action modal-close waves-effect waves-green btn btn-block ">Assignar</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s7 m9">
                            <label>&nbsp;</label>
                            <select class="soflow" id="alum">
                                <option value="" disabled selected>Assignar Alumnos</option>
                                {{#each alumnos}}
                                    <option value="{{_id}}"> {{profile.nombre}} {{profile.apellido}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="input-field col s5 m3">

                            <a id="assignar-alumno" style="margin: 10px" href="#" class=" modal-action modal-close waves-effect waves-green btn btn-block ">Assignar</a>
                        </div>
                    </div>
                    <a id="eliminar-curso" style="margin: 10px" href="#" class=" modal-action modal-close waves-effect waves-red btn btn-block ">Eliminar</a>



                {{/if}}
                {{#if isInRole 'profesor'}}
                    <div class="row" >
                        <div class="col s12" style="border-bottom: 2px bold beige">
                            <h4>Alumnos Inscritos</h4>
                        </div>
                        <div class="col s12" style="margin-top: 20px">
                            {{#each listalumnos}}
                                <div class="row">

                                    <div class="col s2" >
                                        <div style=" margin-top: 0px; background-image: url('{{profile.foto}}');" class="circular3 avatar center "></div></div>
                                    <div class="col s10">
                                        <p>
                                            <span style="font-size: 12px;">{{profile.nombre}} {{profile.apellido}}</span>
                                        </p>
                                    </div>
                                </div>

                            {{/each}}
                        </div>
                    </div><div class="row">
                    <div class="col s7 m9">
                        <label>&nbsp;</label>
                        <select class="soflow" id="alum">
                            <option value="" disabled selected>Assignar Alumnos</option>

                            {{#each alumnos}}

                                <option id="{{_id}}" value="{{_id}}"> {{profile.nombre}} {{profile.apellido}}</option>
                            {{/each}}
                        </select>

                    </div>
                    <div class="input-field col s5 m3">

                        <a id="assignar-alumno" style="margin: 10px" href="#" class=" modal-action modal-close waves-effect waves-green btn btn-block ">Assignar</a>
                    </div>
                </div>

                {{/if}}




            </div>

        </div>
        <div id="ejerciciotab" class="col s12 no-padding">
            {{>ejercicios}}
        </div>

    </div>


</template>