<template name="nuevaNotificacion">
<div class="row">





    <form id="enviar" class="col s12 text-white">

        <div class="row">
            <h2 class="text-white">{{profile.nombre}} {{profile.apellido}}</h2>

            <div class=" col s12">
                <label for="propuesta"><h5>Escriba su mensaje</h5></label>
                <textarea id="propuesta" type="text" class="materialize-textarea"></textarea>

            </div>
            <button class="blue-grey darken-3 btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>


</div>

</template>